<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Transactions</title>
</head>
<body>
    <h1>All Transactions</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Client Product ID</th>
                <th>Amount</th>
                <th>Transaction Type</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.id_cliente_producto }}</td>
                <td>{{ transaction.monto }}</td>
                <td>{{ transaction.tipo_transaccion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
